<h1>Create Author</h1>
<p class="message"></p>
<form action="/create" method="POST">
    <div>
        <input type="text" name="first_name" placeholder="First Name...">
    </div>
    <div>
        <input type="text" name="family_name" placeholder="Family Name...">
    </div>
    <div>
        <input type="date" name="date_of_birth" placeholder="Date Of Birth">
    </div>
    <div>
        <input type="date" name="date_of_death" placeholder="Date Of Death">
    </div>
    <div>
    <div>
        <button>Create</button>
    </div>
</form>