<h1>Register</h1>
<p class="form-info">Already registered?
    <a href="..Todo">Login now</a> and have some fun!
</p>
<form action="/genre/create" method="POST">   
    <div>
        <input type="text" name="genreName" placeholder="Genre name">
    </div>   
    <div>
        <p class="message"></p>
        <button>Create Genre</button>
    </div>
</form>